@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-600 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-500;
  }

  body {
    @apply bg-primary-bg text-primary-text font-sans leading-relaxed;
  }
  h1, h2, h3, h4 {
    @apply font-heading text-primary-text;
  }
  a {
    @apply text-accent transition-colors duration-300 hover:text-primary-text;
  }
}

@layer utilities {
  .custom-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}